<div class="row my-4">

        <div class="col-md-6 ">
            <h3>Bienvenue {{id}}</h3>
        </div>
    
       
       
    </div>

    <div class="row" >
            <div class="col-md-3">

                    <div class="list-group">
                            <li class="list-group-item list-group-item-success">List</li>
                            <a [ngClass]="{'active':liactive==='nonValider'}"  class="list-group-item list-group-item-action" (click)="chargerIncident('nonValider')">Incident En Attend</a>
                            <a [ngClass]="{'active':liactive==='valider'}"  class="list-group-item list-group-item-action" (click)="chargerIncident('valider')">Incident Valider</a>
                            <a  class="list-group-item list-group-item-action" data-toggle="modal" data-target="#profile">Profile</a>
                            <a  class="list-group-item list-group-item-action" data-toggle="modal" data-target="#password">Modifier votre mot de passe</a>
                          </div>
                   
                </div>
            <div class="col-md-9 mx-auto">
                        <input type="text" (keyup)="searchIncident()" [(ngModel)]="searchText"   class="form-control" placeholder="Search..." aria-describedby="helpId">

                        <ul class="list-group">
                         
                          <li *ngFor="let incident of resultIncident| paginate: { itemsPerPage: 50, currentPage: p }"  class="list-group-item d-flex justify-content-between align-items-center">
                            
                        <span (click)="validerIncident(incident.id,!incident.etat)" [ngClass]="{'badge-info':incident.etat,'badge-danger':!incident.etat}" class="badge badge-pill">
                                <i class="fa " [ngClass]="{'fa-thumbs-up':incident.etat,'fa-thumbs-down':!incident.etat}" aria-hidden="true"></i>
                                      </span>
                            {{incident.titre}}
    
                            
                            
                            <button (click)="detailIncident(incident)" class="btn btn-dark btn-sm" data-toggle="modal" data-target="#myModal">
                              Detail
                            </button>
                            
                          </li>
                         
                        </ul>
                        
                        <pagination-controls style="text-align: center ;" class="justify-content-center" (pageChange)="p = $event"></pagination-controls>
    
                    
        </div>

        <div class="modal fade" id="myModal" *ngIf="item">
                <div class="modal-dialog modal-lg  modal-dialog-centered">
                  <div class="modal-content">
                  
                    <!-- Modal Header -->
                    <div class="modal-header">
                      <h4 class="modal-title">Détail Incident</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                            <div class="row" *ngIf="item.exitImg">
                                    
                                    <div class="col-lg-8 mx-auto">
                                            <img [src]="getUrlImage()" style="height:100%;width:100%" class="rounded" alt="Cinque Terre">
                                    </div>
                                </div><hr>
                     <div class="row">
                         <div class="col-lg-4"><h5>Titre : </h5></div>
                         <div class="col-lg-8 mx-auto"><p>{{item.titre}}</p></div>
                     </div><hr>

                     <div class="row">
                            <div class="col-lg-4"><h5>Desc :</h5></div>
                            <div class="col-lg-8 mx-auto"><p>{{item.description}}</p></div>
                        </div><hr>

                        <div class="row">
                                <div class="col-lg-4"><h5>Type : </h5></div>
                                <div class="col-lg-8 mx-auto"><p>{{item.type}}</p></div>
                            </div><hr>
                            <div class="row">
                                    <div class="col-lg-4"><h5>Materiel : </h5></div>
                                    <div class="col-lg-8 mx-auto"><p>{{item.materiel}}</p></div>
                                </div><hr>

                                <div class="row">
                                        <div class="col-lg-4"><h5>Date Ajoute : </h5></div>
                                        <div class="col-lg-8 mx-auto"><p>{{item.dataAjoute}}</p></div>
                                    </div><hr>
                                    <div class="row"  *ngIf="item.etat" >
                                            <div class="col-lg-4"><h5>Date Clouture : </h5></div>
                                            <div class="col-lg-8 mx-auto"><p>{{item.dataClouture}}</p></div>
                                        </div><hr>

                        <div class="row">
                                <div class="col-lg-4"><h5>Agent : </h5></div>
                                <div class="col-lg-8 mx-auto"><p>{{item.idagent}}</p></div>
                            </div><hr>

                            <div class="row" *ngIf="!item.etat">
                                    <div class="col-lg-6 text-right">
                                            <button type="button" (click)="validerIncident(item.id,!item.etat)" class="btn btn-primary" data-dismiss="modal">Valider</button>
                                    </div>
                                    </div>
                                    <div class="row" *ngIf="item.etat">
                                            <div class="col-lg-6 text-right">
                                                    <button type="button" (click)="validerIncident(item.id,!item.etat)" class="btn btn-danger" data-dismiss="modal">Anuller</button>
                                            </div>
                                            </div>

                    </div>
                    
                    <!-- Modal footer 
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>-->
                    
                  </div>
                </div>
              </div>

              <app-profile ></app-profile>
              <app-change-password></app-change-password>