<div class="row my-4">

    <div class="col-md-6 ">
        <h3>Bienvenue {{id}}</h3>
    </div>

   
   
</div>

<div class="row" >
        <div class="col-md-3">
                
                <app-menu (changeMode)="changementDeMode($event)"></app-menu>
                
               
            </div>
        <div class="col-md-9 mx-auto">
   <app-gestion-agent  *ngIf="mode==='gestionAgent'"></app-gestion-agent>
   <app-created-technicien (changeMode)="changementDeMode($event)" *ngIf="mode==='created-technicien'"></app-created-technicien>
   <app-gestion-technicien *ngIf="mode==='gestion-technicien'"></app-gestion-technicien>
   <app-gestion-incident *ngIf="mode==='gestionIncident'"></app-gestion-incident>

   <app-created-service (changeMode)="changementDeMode($event)" *ngIf="mode==='creeService'"></app-created-service>

   <app-gestion-service *ngIf="mode==='gestionService'"></app-gestion-service>

   <app-statistique *ngIf="mode==='sta'"></app-statistique>
   <app-profile ></app-profile>
   <app-change-password></app-change-password>
            </div>
            </div>



